.tableau-style{
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    margin: 3% auto;
    border: 1px solid #ddd;
    width: 95%;
}

thead tr{
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th, td{
    padding: 15px 20px;
    position: relative;
    max-width:130px;
}

tbody tr, td, th{
    border: 1px solid #ddd;
}

tbody tr{
    background-color: #fff;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

tbody tr:last-of-type{
    border-bottom: 2px solid midnightblue;
}

.note{
    font-size:13px;
    color: #333;
    background: #f3f3f3;
    border-top: 1px solid midnightblue;
}

.note:last-of-type{
    border-right: 1px solid midnightblue;
}

.note:first-of-type{
    border-left: 1px solid midnightblue;
}